ECA with graphics
-----------------

NOTE: This was a failed experiment, do not try to use the following
      instructions as they will not work with the current recipes.

For demo purposes it might be useful to have a configuration
that is able to use browser in localhost.

Get the browser layer from git://github.com/OSSystems/meta-browser.git

Set following things in local.conf file:

DISTRO = "eca-graphics"


and these things in bblayers.conf:

  /home/user/yocto/poky/meta-openembedded/meta-gnome
  /home/user/yocto/poky/meta-browser
