[Unit]
Description=Connection service
Requires=dbus.socket
After=dbus.socket connman-init.service
Before=remote-fs.target

[Service]
Type=dbus
BusName=net.connman
Restart=on-failure
EnvironmentFile=-/etc/connman/connmand.env
ExecStart=/usr/sbin/connmand -n $DEBUG
StandardOutput=null

[Install]
WantedBy=multi-user.target
