[Unit]
Description=Start or stop WiFI AP Mode in Edison
After=connman.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ap-mode-toggle start-or-stop
StandardOutput=null

[Install]
WantedBy=connman.service
