[Unit]
Description=Start or stop WiFI AP Mode in Edison

# We cannot start after connman service because the
# ap-mode-toggle script would start and stop connman
# and cause havoc with this script.
After=connman-init.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ap-mode-toggle start-or-stop
StandardOutput=null

[Install]
WantedBy=connman.service
