[global]
OfflineMode=false

[Bluetooth]
Enable=true

[Cellular]
Enable=true

[WiFi]
Enable=true
Tethering=false
Tethering.Identifier=@TETHERING_AP_SSID@
Tethering.Passphrase=@TETHERING_AP_PASSPHRASE@

[Gadget]
Enable=true
Tethering=true

[Wired]
Enable=true
EOF
