[Unit]
Description=Simple web UI for Embedded Communication Appliance
After=syslog.target

[Service]
Type=simple
EnvironmentFile=/etc/eca-web/config
ExecStart=/opt/eca-web/start-eca-web $PORT
Restart=on-failure

[Install]
WantedBy=multi-user.target
